header h1 {
    margin-bottom: 45px;
}

header ul {
    list-style: none;
    padding: 0;
}

header nav li {
    display: inline-block;
    width: 19%;
    text-align: center;
}

header hr {
    background: black;
    height: 1px;
}

header a:link {
    color: black;
    text-decoration: none;
}

header a:visited {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: blue;
    text-decoration: underline;
}

header a:active {
    color: indigo;
    text-decoration: underline;
}

footer span {
    display: block;
    text-align: center;
}
#main {
}